

<div class="list-group" >
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Total Money</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">550000</p>

  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Total number of people donated</h5>
      <small class="text-muted">today</small>
    </div>
    <p class="mb-1"></p>
    <small class="text-muted">7000</small>
  </a>
</div>
<img class="ngo" src="assets/image/ngo.jpg" alt="NGO">



